<div class="min-h-screen pt-12 body-bg md:pt-20 pb-6md:px-0">
  <header class="max-w-lg mx-auto">
    <a href="#">
      <h1 class="text-4xl font-bold text-center">Novos Productos</h1>
    </a>
  </header>

  <main
    class="max-w-lg p-8 mx-auto my-10 bg-white rounded-lg shadow-2xl md:p-12"
  >
    <section class="mt-10">
      <form class="flex flex-col" method="POST" action="#">
        <div class="px-3 mb-1 rounded">
          <label
            class="block mb-2 text-xs font-bold tracking-wide uppercase text-grey-darker"
            for="grid-last-name"
          >
            Título
          </label>
          <input
            class="block w-full px-4 py-3 border rounded appearance-none bg-grey-lighter text-grey-darker border-grey-lighter"
            id="grid-last-name"
            type="text"
            placeholder="Título"
          />
        </div>
        <div class="px-3 mb-1 rounded">
          <label
            class="block mb-2 text-xs font-bold tracking-wide uppercase text-grey-darker"
            for="grid-brand-name"
          >
            Nome da marca
          </label>
          <input
            class="block w-full px-4 py-3 border rounded appearance-none bg-grey-lighter text-grey-darker border-grey-lighter"
            id="grid-brand-name"
            type="text"
            placeholder="Nome da Marca"
          />
        </div>
        <div class="px-3 mb-1 rounded">
          <label
            class="block mb-2 text-xs font-bold tracking-wide uppercase text-grey-darker"
            for="grid-price"
          >
            Preço
          </label>
          <input
            class="block w-full px-4 py-3 border rounded appearance-none bg-grey-lighter text-grey-darker border-grey-lighter"
            id="grid-price"
            type="number"
            placeholder="Preço"
          />
        </div>
        <div class="px-3 mb-1 rounded">
          <label
            class="block mb-2 text-xs font-bold tracking-wide uppercase text-grey-darker"
            for="grid-stock"
          >
            Estoque
          </label>
          <input
            class="block w-full px-4 py-3 border rounded appearance-none bg-grey-lighter text-grey-darker border-grey-lighter"
            id="grid-stock"
            type="number"
            placeholder="Estoque"
          />
        </div>
        <div class="px-3 mb-1 rounded">
          <label
            class="block mb-2 text-xs font-bold tracking-wide uppercase text-grey-darker"
            for="grid-Discount"
          >
            Desconto
          </label>
          <input
            class="block w-full px-4 py-3 border rounded appearance-none bg-grey-lighter text-grey-darker border-grey-lighter"
            id="grid-discount"
            type="number"
            placeholder="Desconto"
          />
        </div>
        <div class="px-3 mb-1 rounded">
          <label
            class="block mb-2 text-xs font-bold tracking-wide uppercase text-grey-darker"
            for="grid-last-name"
          >
            Categoria
          </label>
          <input
            class="block w-full px-4 py-3 border rounded appearance-none bg-grey-lighter text-grey-darker border-grey-lighter"
            id="grid-last-name"
            type="text"
            placeholder="Doe"
          />
        </div>
        <div class="px-3 mb-1 rounded">
          <label
            class="block mb-2 text-xs font-bold tracking-wide uppercase text-grey-darker"
            for="grid-last-name"
          >
            imagens
          </label>
          <input
            class="block w-full px-4 py-3 border rounded appearance-none bg-grey-lighter text-grey-darker border-grey-lighter"
            id="grid-last-name"
            type="text"
            placeholder="Doe"
          />
        </div>
        <div class="flex items-center justify-between p-2 md:p-4">
          <div class="flex">
            <span class="mr-3">Categoria</span>
            <div class="relative">
              <select
                class="py-2 pl-3 pr-10 text-base border border-gray-400 rounded appearance-none focus:outline-none focus:border-red-500"
              >
                <option>BEBE</option>
                <option>Hombre</option>
                <option>Mujer</option>
              </select>
              <span
                class="absolute top-0 right-0 flex items-center justify-center w-10 h-full text-center text-gray-600 pointer-events-none"
              >
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4"
                  viewBox="0 0 24 24"
                >
                  <path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
            </div>
          </div>
          <div class="flex items-center ml-6 rounded">
            <label
              class="block mb-2 text-xs font-bold tracking-wide uppercase text-grey-darker"
              for="grid-last-name"
            >
              descrição
            </label>
            <input
              class="block w-full px-4 py-3 border rounded appearance-none bg-grey-lighter text-grey-darker border-grey-lighter"
              id="grid-last-name"
              type="text"
              placeholder="Doe"
            />
          </div>
        </div>
        <div class="flex items-center justify-between p-2 md:p-4">
          <div class="flex">
            <span class="mr-3">Cores</span>
            <button
              class="w-6 h-6 border-2 border-gray-300 rounded-full focus:outline-none"
            ></button>
            <button
              class="w-6 h-6 ml-1 bg-gray-700 border-2 border-gray-300 rounded-full focus:outline-none"
            ></button>
            <button
              class="w-6 h-6 ml-1 bg-red-500 border-2 border-gray-300 rounded-full focus:outline-none"
            ></button>
          </div>
          <div class="flex items-center ml-6">
            <span class="mr-3">Tamanhos</span>
            <div class="relative">
              <select
                class="py-2 pl-3 pr-10 text-base border border-gray-400 rounded appearance-none focus:outline-none focus:border-red-500"
              >
                <option>SM</option>
                <option>M</option>
                <option>L</option>
                <option>XL</option>
              </select>
              <span
                class="absolute top-0 right-0 flex items-center justify-center w-10 h-full text-center text-gray-600 pointer-events-none"
              >
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4"
                  viewBox="0 0 24 24"
                >
                  <path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
            </div>
          </div>
        </div>
        <button
          class="py-2 font-bold text-white transition duration-200 bg-purple-600 rounded shadow-lg hover:bg-purple-700 hover:shadow-xl"
          type="submit"
        >
          Save
        </button>
      </form>
    </section>
  </main>
</div>
