<div class="container mx-auto mt-10">
  <div class="flex my-10 shadow-md">
    <div class="w-3/4 px-10 py-10 bg-white">
      <div class="flex justify-between pb-8 border-b">
        <h1 class="text-2xl font-semibold">Carrinho de Compras</h1>
        <h2 class="text-2xl font-semibold">{{ totalItems }} itens</h2>
      </div>
      <div class="flex mt-10 mb-5">
        <h3 class="w-2/5 text-xs font-semibold text-gray-600 uppercase">
          Detalhes do produto
        </h3>
        <h3
          class="w-1/5 text-xs font-semibold text-center text-gray-600 uppercase"
        >
          Quantidade
        </h3>
        <h3
          class="w-1/5 text-xs font-semibold text-center text-gray-600 uppercase"
        >
          Preço
        </h3>
        <h3
          class="w-1/5 text-xs font-semibold text-center text-gray-600 uppercase"
        >
          Total
        </h3>
      </div>

      <div
        class="flex items-center px-6 py-5 -mx-8 hover:bg-gray-100"
        *ngFor="
          let product of productService.productsIntoCart$.state$ | async;
          let i = index
        "
      >
        <div class="flex w-2/5">
          <div class="w-20">
            <img
              class="h-24"
              src="https://drive.google.com/uc?id=10ht6a9IR3K2i1j0rHofp9-Oubl1Chraw"
              alt=""
            />
          </div>
          <div class="flex flex-col justify-between flex-grow ml-4">
            <span class="text-sm font-bold">{{ product?.title }}</span>
            <!-- <span class="text-xs text-red-500">pro</span> -->
            <a
              (click)="removeProduct(product)"
              class="text-xs font-semibold text-gray-500 hover:text-red-500"
              >Remover</a
            >
          </div>
        </div>
        <div class="flex justify-center w-1/5">
          <svg class="w-3 text-gray-600 cursor-pointer fill-current" viewBox="0 0 448 512" (click)="removeProductToCart(product)">
            <path
              d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"
            />
          </svg>

          <input id="quantityId" class="w-8 mx-2 text-center border" type="text" value="{{product?.quantity}}" />

          <svg class="w-3 text-gray-600 cursor-pointer fill-current" viewBox="0 0 448 512" (click)="addProductToCart(product)">
            <path
              d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"
            />
          </svg>
        </div>
        <span class="w-1/5 text-sm font-semibold text-center">{{
          product?.price.toLocaleString("pt-BR", {
            style: "currency",
            currency: "BRL"
          })
        }}</span>
        <span class="w-1/5 text-sm font-semibold text-center">{{
          (product?.price * product?.quantity).toLocaleString("pt-BR", {
            style: "currency",
            currency: "BRL"
          })
        }}</span>
      </div>

      <a routerLink="" class="flex mt-10 text-sm font-semibold text-indigo-600">
        <svg
          class="w-4 mr-2 text-indigo-600 fill-current"
          viewBox="0 0 448 512"
        >
          <path
            d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z"
          />
        </svg>
        Continue Comprando
      </a>
    </div>

    <div id="summary" class="w-1/4 px-8 py-10">
      <h1 class="pb-8 text-2xl font-semibold border-b">Resumo do Pedido</h1>
      <div class="flex justify-between mt-10 mb-5">
        <span class="text-sm font-semibold uppercase"
          >Itens {{ totalItems }}
        </span>
        <span class="text-sm font-semibold">{{
          totalToPaid.toLocaleString("pt-BR", {
            style: "currency",
            currency: "BRL"
          })
        }}</span>
      </div>
      <!-- <div>
        <label class="inline-block mb-3 text-sm font-medium uppercase"
          >Remessa</label
        >
        <select class="block w-full p-2 text-sm text-gray-600">
          <option>Envio pelo correio</option>
        </select>
      </div> -->
      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit(form.value)"
        autocomplete="off"
        novalidate
      >
        <div class="py-2">
          <label
            for="name"
            class="inline-block mb-3 text-sm font-semibold uppercase"
            >Nome</label
          >
          <input
            type="text"
            formControlName="name"
            placeholder="Nome"
            class="w-full p-2 text-sm"
          />
        </div>
        <div class="py-2">
          <label
            for="Email"
            class="inline-block mb-3 text-sm font-semibold uppercase"
            >Email</label
          >
          <input
            type="email"
            id="Email"
            formControlName="email"
            placeholder="Email"
            class="w-full p-2 text-sm"
          />
        </div>
        <div class="py-2">
          <label
            for="phone"
            class="inline-block mb-3 text-sm font-semibold uppercase"
            >Telefone</label
          >
          <input
            type="tel"
            id="phone"
            formControlName="phone"
            placeholder="Telefone"
            class="w-full p-2 text-sm"
          />
        </div>
        <!-- <button
        class="px-5 py-2 text-sm text-white uppercase bg-red-500 hover:bg-red-600"
      >
      Aplique
      </button> -->
        <div class="mt-8 border-t">
          <div
            class="flex justify-between py-6 text-sm font-semibold uppercase"
          >
            <span>Custo Total</span>
            <span>{{
              totalToPaid.toLocaleString("pt-BR", {
                style: "currency",
                currency: "BRL"
              })
            }}</span>
          </div>
          <button
            [disabled]="!form.valid"
            class="w-full py-3 text-sm font-semibold text-white uppercase bg-indigo-500 hover:bg-indigo-600"
          >
            Fazer Pedido
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
