<div class="wrap cf">
  <h1 class="projTitle">Responsive Table<span>-Less</span> Shopping Cart</h1>
  <div class="heading cf">
    <h1>My Cart</h1>
    <a href="#" class="continue">Continue Shopping</a>
  </div>
  <div class="cart">
    <ul class="cartWrap">
      <li class="items odd">
        <div class="infoWrap">
          <div class="cartSection">
            <img
              src="http://lorempixel.com/output/technics-q-c-300-300-4.jpg"
              alt=""
              class="itemImg"
            />
            <p class="itemNumber">#QUE-007544-002</p>
            <h3>Item Name 1</h3>

            <p><input type="text" class="qty" placeholder="3" /> x $5.00</p>

            <p class="stockStatus">In Stock</p>
          </div>

          <div class="prodTotal cartSection">
            <p>$15.00</p>
          </div>
          <div class="cartSection removeWrap">
            <a href="#" class="remove">x</a>
          </div>
        </div>
      </li>
      <li class="items even">
        <div class="infoWrap">
          <div class="cartSection">
            <img
              src="http://lorempixel.com/output/technics-q-c-300-300-4.jpg"
              alt=""
              class="itemImg"
            />
            <p class="itemNumber">#QUE-007544-002</p>
            <h3>Item Name 1</h3>

            <p><input type="text" class="qty" placeholder="3" /> x $5.00</p>

            <p class="stockStatus">In Stock</p>
          </div>

          <div class="prodTotal cartSection">
            <p>$15.00</p>
          </div>
          <div class="cartSection removeWrap">
            <a href="#" class="remove">x</a>
          </div>
        </div>
      </li>

      <li class="items odd">
        <div class="infoWrap">
          <div class="cartSection">
            <img
              src="http://lorempixel.com/output/technics-q-c-300-300-4.jpg"
              alt=""
              class="itemImg"
            />
            <p class="itemNumber">#QUE-007544-002</p>
            <h3>Item Name 1</h3>

            <p><input type="text" class="qty" placeholder="3" /> x $5.00</p>

            <p class="stockStatus out">Out of Stock</p>
          </div>

          <div class="prodTotal cartSection">
            <p>$15.00</p>
          </div>
          <div class="cartSection removeWrap">
            <a href="#" class="remove">x</a>
          </div>
        </div>
      </li>
      <li class="items even">
        <div class="infoWrap">
          <div class="cartSection info">
            <img
              src="http://lorempixel.com/output/technics-q-c-300-300-4.jpg"
              alt=""
              class="itemImg"
            />
            <p class="itemNumber">#QUE-007544-002</p>
            <h3>Item Name 1</h3>

            <p><input type="text" class="qty" placeholder="3" /> x $5.00</p>

            <p class="stockStatus">In Stock</p>
          </div>

          <div class="prodTotal cartSection">
            <p>$15.00</p>
          </div>

          <div class="cartSection removeWrap">
            <a href="#" class="remove">x</a>
          </div>
        </div>
        <div class="special">
          <div class="specialContent">
            Free gift with purchase!, gift wrap, etc!!
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="promoCode">
    <label for="promo">Have A Promo Code?</label
    ><input type="text" name="promo" placholder="Enter Code" />
    <a href="#" class="btn"></a>
  </div>

  <div class="subtotal cf">
    <ul>
      <li class="totalRow">
        <span class="label">Subtotal</span><span class="value">$35.00</span>
      </li>

      <li class="totalRow">
        <span class="label">Shipping</span><span class="value">$5.00</span>
      </li>

      <li class="totalRow">
        <span class="label">Tax</span><span class="value">$4.00</span>
      </li>
      <li class="totalRow final">
        <span class="label">Total</span><span class="value">$44.00</span>
      </li>
      <li class="totalRow"><a href="#" class="btn continue">Checkout</a></li>
    </ul>
  </div>
</div>

<div class="leading-loose">
  <form class="max-w-xl m-4 p-10 bg-white rounded shadow-xl">
    <p class="text-gray-800 font-medium">Customer information</p>
    <div class="">
      <label class="block text-sm text-gray-00" for="cus_name">Name</label>
      <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="cus_name" name="cus_name" type="text" required="" placeholder="Your Name" aria-label="Name">
    </div>
    <div class="mt-2">
      <label class="block text-sm text-gray-600" for="cus_email">Email</label>
      <input class="w-full px-5  py-4 text-gray-700 bg-gray-200 rounded" id="cus_email" name="cus_email" type="text" required="" placeholder="Your Email" aria-label="Email">
    </div>
    <div class="mt-2">
      <label class=" block text-sm text-gray-600" for="cus_email">Address</label>
      <input class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" id="cus_email" name="cus_email" type="text" required="" placeholder="Street" aria-label="Email">
    </div>
    <div class="mt-2">
      <label class="hidden text-sm block text-gray-600" for="cus_email">City</label>
      <input class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" id="cus_email" name="cus_email" type="text" required="" placeholder="City" aria-label="Email">
    </div>
    <div class="inline-block mt-2 w-1/2 pr-1">
      <label class="hidden block text-sm text-gray-600" for="cus_email">Country</label>
      <input class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" id="cus_email" name="cus_email" type="text" required="" placeholder="Country" aria-label="Email">
    </div>
    <div class="inline-block mt-2 -mx-1 pl-1 w-1/2">
      <label class="hidden block text-sm text-gray-600" for="cus_email">Zip</label>
      <input class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" id="cus_email"  name="cus_email" type="text" required="" placeholder="Zip" aria-label="Email">
    </div>
    <p class="mt-4 text-gray-800 font-medium">Payment information</p>
    <div class="">
      <label class="block text-sm text-gray-600" for="cus_name">Card</label>
      <input class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" id="cus_name" name="cus_name" type="text" required="" placeholder="Card Number MM/YY CVC" aria-label="Name">
    </div>
    <div class="mt-4">
      <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded" type="submit">$3.00</button>
    </div>
  </form>
</div>
