<div class="flex items-center justify-between py-4 bg-blue-900">
  <div class="flex-shrink-0 ml-10 cursor-pointer" routerLink="/">
    <i class="text-yellow-500 fas fa-shopping-bag fa-2x"></i>
    <span class="ml-1 text-3xl font-semibold text-indigo-100"
      >&nbsp;Jeff Loja</span
    >
  </div>

  <a class="visible mr-10 text-white hover:text-blue-300 md:invisible md:mr-0" routerLink="shoppingCart">
    <i class="text-yellow-500 fa fa-2x" >&#xf07a;</i>
    <span class='badge badge-warning' id='lblCartCount'>{{quantity}}</span>
   </a>


  <ul class="hidden mr-10 overflow-x-hidden font-semibold md:flex" id="menu">
    <!-- <li class="p-1 mr-6 border-b-2 border-orange-500">
      <a class="text-indigo-100 cursor-default" href="#"
        ><i class="text-yellow-500 fas fa-shopping-basket"></i
        >&nbsp;Bem-vinda</a
      >
    </li>
    <li class="p-1 mr-6">
      <a class="text-white hover:text-blue-300" href="#"
        ><i class="text-yellow-500 fas fa-user-edit"></i>&nbsp;Contato</a
      >
    </li> -->
    <li class="p-1 mr-6">
      <a class="text-white hover:text-blue-300" routerLink="shoppingCart">
         <i class="text-yellow-500 fa" style="font-size:24px">&#xf07a;</i>
         <span class='badge badge-warning' id='lblCartCount'>{{quantity}}</span>
        </a>
    </li>
  </ul>
</div>
