@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "global.scss";

html {
  scroll-behavior: smooth;
}
body{
  // background-color: #EAECED
  background-color: #FFFCFC 
}
.rotate-45 {
  transform: rotate(45deg);
}
.-rotate-45 {
  transform: rotate(-45deg);
}
