<div class="carousel relative container mx-auto" style="max-width: 1600px">
  <div class="carousel-inner relative overflow-hidden w-full">
    <!--Slide 1-->
    <input
      class="carousel-open"
      type="radio"
      id="carousel-1"
      name="carousel"
      aria-hidden="true"
      hidden=""
      checked="checked"
    />
    <div class="carousel-item absolute opacity-0" style="height: 50vh">
      <div
        class="block h-full w-full mx-auto flex pt-6 md:pt-0 md:items-center bg-cover bg-right"
        style="background-image: url('assets/images/carousel/bg-01.jpg')"
      >
        <div class="container mx-auto">
          <div
            class="flex flex-col w-full lg:w-1/2 md:ml-16 items-center md:items-start px-6 tracking-wide"
          >
            <p class="text-black text-2xl my-4">
              Você não encontrará um preço melhor do que em nossa loja.
            </p>
            <a
              class="text-xl inline-block no-underline border-b border-gray-600 leading-relaxed hover:text-black hover:border-black"
              href="#"
              >ver catálogos</a
            >
          </div>
        </div>
      </div>
    </div>
    <label
      for="carousel-3"
      class="prev control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 left-0 my-auto"
      >‹</label
    >
    <label
      for="carousel-2"
      class="next control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 right-0 my-auto"
      >›</label
    >

    <!--Slide 2-->
    <input
      class="carousel-open"
      type="radio"
      id="carousel-2"
      name="carousel"
      aria-hidden="true"
      hidden=""
    />
    <div
      class="carousel-item absolute opacity-0 bg-cover bg-right"
      style="height: 50vh"
    >
      <div
        class="block h-full w-full mx-auto flex pt-6 md:pt-0 md:items-center bg-cover bg-right"
        style="background-image: url('assets/images/carousel/bg-02.jpg')"
      >
        <div class="container mx-auto">
          <div
            class="flex flex-col w-full lg:w-1/2 md:ml-16 items-center md:items-start px-6 tracking-wide"
          >
            <p class="text-black text-2xl my-4">Temos descontos e promoções</p>
            <a
              class="text-xl inline-block no-underline border-b border-gray-600 leading-relaxed hover:text-black hover:border-black"
              href="#"
              >Consultar</a
            >
          </div>
        </div>
      </div>
    </div>
    <label
      for="carousel-1"
      class="prev control-2 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 left-0 my-auto"
      >‹</label
    >
    <label
      for="carousel-3"
      class="next control-2 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 right-0 my-auto"
      >›</label
    >

    <!--Slide 3-->
    <input
      class="carousel-open"
      type="radio"
      id="carousel-3"
      name="carousel"
      aria-hidden="true"
      hidden=""
    />
    <div class="carousel-item absolute opacity-0" style="height: 50vh">
      <div
        class="block h-full w-full mx-auto flex pt-6 md:pt-0 md:items-center bg-cover bg-bottom"
        style="background-image: url('assets/images/carousel/bg-03.jpg')"
      >
        <div class="container mx-auto">
          <div
            class="flex flex-col w-full lg:w-1/2 md:ml-16 items-center md:items-start px-6 tracking-wide"
          >
            <p class="text-black text-2xl my-4">
              Estamos sempre à sua disposição
            </p>
            <a
              class="text-xl inline-block no-underline border-b border-gray-600 leading-relaxed hover:text-black hover:border-black"
              href="#"
              >Contate-Nos</a
            >
          </div>
        </div>
      </div>
    </div>
    <label
      for="carousel-2"
      class="prev control-3 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 left-0 my-auto"
      >‹</label
    >
    <label
      for="carousel-1"
      class="next control-3 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 right-0 my-auto"
      >›</label
    >

    <!-- Add additional indicators for each slide-->
    <ol class="carousel-indicators">
      <li class="inline-block mr-3">
        <label
          for="carousel-1"
          class="carousel-bullet cursor-pointer block text-4xl text-gray-400 hover:text-gray-900"
          >•</label
        >
      </li>
      <li class="inline-block mr-3">
        <label
          for="carousel-2"
          class="carousel-bullet cursor-pointer block text-4xl text-gray-400 hover:text-gray-900"
          >•</label
        >
      </li>
      <li class="inline-block mr-3">
        <label
          for="carousel-3"
          class="carousel-bullet cursor-pointer block text-4xl text-gray-400 hover:text-gray-900"
          >•</label
        >
      </li>
    </ol>
  </div>
</div>
<!-- ++++++++===================++++ -->
<section class="bg-white py-8">
  <!-- <div class="container mx-auto flex items-center flex-wrap pt-4 pb-12"> -->
  <nav id="store" class="w-full z-30 top-0 px-6 py-1">
    <div
      class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 px-2 py-3"
    >
      <a
        class="uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-xl"
        href="#"
      >
        Catálogo da loja
      </a>
    </div>
    <app-product-list
      [products$]="products$"
      (productAdded)="addProductToCart($event)"
    ></app-product-list>
  </nav>
</section>

<section class="bg-white py-8">
  <div class="container py-8 px-6 mx-auto">
    <a
      class="uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-xl mb-8"
      href="#"
    >
      Sobre nós
    </a>

    <p class="mt-8 mb-8">
      <a
        class="text-gray-800 underline hover:text-gray-900"
        target="_blank"
        href="https://www.facebook.com/jefflojaderoupaseacessorios"
        ><em><strong>Jeff Loja de Roupas e acessórios</strong></em></a
      >
      &nbsp;
      <br />
    </p>

    <p class="mb-8">
      Somos um shopping que está crescendo recentemente no mercado, contamos com
      dois surcusales em São Paulo. Temos um catálogo bastante extenso para
      atender as necessidades dos clientes, marcamos presença nas redes sociais.
      Você pode nos contatar por todos os meios de comunicação que temos em
      vigor. A sua opinião é importante para nós.
    </p>
  </div>
</section>
