<div class="container relative mx-auto carousel" style="max-width: 1600px">
  <div class="relative w-full overflow-hidden carousel-inner">
    <!--Slide 1-->
    <input
      class="carousel-open"
      type="radio"
      id="carousel-1"
      name="carousel"
      aria-hidden="true"
      hidden=""
      checked="checked"
    />
    <div class="absolute opacity-0 carousel-item" style="height: 50vh">
      <div
        class="flex block w-full h-full pt-6 mx-auto bg-right bg-cover md:pt-0 md:items-center"
        style="background-image: url('assets/images/carousel/bg-01.jpg')"
      >
        <div class="container mx-auto">
          <div
            class="flex flex-col items-center w-full px-6 tracking-wide lg:w-1/2 md:ml-16 md:items-start"
          >
            <p class="my-4 text-3xl font-bold text-yellow-600">
              Temos descontos e promoções
            </p>
          </div>
        </div>
      </div>
    </div>
    <label
      for="carousel-3"
      class="absolute inset-y-0 left-0 z-10 hidden w-10 h-10 my-auto ml-2 text-3xl font-bold leading-tight text-center text-black bg-white rounded-full cursor-pointer prev control-1 md:ml-10 hover:text-white hover:bg-gray-900"
      >‹</label
    >
    <label
      for="carousel-2"
      class="absolute inset-y-0 right-0 z-10 hidden w-10 h-10 my-auto mr-2 text-3xl font-bold leading-tight text-center text-black bg-white rounded-full cursor-pointer next control-1 md:mr-10 hover:text-white hover:bg-gray-900"
      >›</label
    >

    <!--Slide 2-->
    <input
      class="carousel-open"
      type="radio"
      id="carousel-2"
      name="carousel"
      aria-hidden="true"
      hidden=""
    />
    <div
      class="absolute bg-right bg-cover opacity-0 carousel-item"
      style="height: 50vh"
    >
      <div
        class="flex block w-full h-full pt-6 mx-auto bg-right bg-cover md:pt-0 md:items-center"
        style="background-image: url('assets/images/carousel/bg-02.jpg')"
      ></div>
    </div>
    <label
      for="carousel-1"
      class="absolute inset-y-0 left-0 z-10 hidden w-10 h-10 my-auto ml-2 text-3xl font-bold leading-tight text-center text-black bg-white rounded-full cursor-pointer prev control-2 md:ml-10 hover:text-white hover:bg-gray-900"
      >‹</label
    >
    <label
      for="carousel-3"
      class="absolute inset-y-0 right-0 z-10 hidden w-10 h-10 my-auto mr-2 text-3xl font-bold leading-tight text-center text-black bg-white rounded-full cursor-pointer next control-2 md:mr-10 hover:text-white hover:bg-gray-900"
      >›</label
    >

    <!--Slide 3-->
    <input
      class="carousel-open"
      type="radio"
      id="carousel-3"
      name="carousel"
      aria-hidden="true"
      hidden=""
    />
    <div class="absolute opacity-0 carousel-item" style="height: 50vh">
      <div
        class="flex block w-full h-full pt-6 mx-auto bg-bottom bg-cover md:pt-0 md:items-center"
        style="background-image: url('assets/images/carousel/bg-03.jpg')"
      ></div>
    </div>
    <label
      for="carousel-2"
      class="absolute inset-y-0 left-0 z-10 hidden w-10 h-10 my-auto ml-2 text-3xl font-bold leading-tight text-center text-black bg-white rounded-full cursor-pointer prev control-3 md:ml-10 hover:text-white hover:bg-gray-900"
      >‹</label
    >
    <label
      for="carousel-1"
      class="absolute inset-y-0 right-0 z-10 hidden w-10 h-10 my-auto mr-2 text-3xl font-bold leading-tight text-center text-black bg-white rounded-full cursor-pointer next control-3 md:mr-10 hover:text-white hover:bg-gray-900"
      >›</label
    >

    <!-- Add additional indicators for each slide-->
    <ol class="carousel-indicators">
      <li class="inline-block mr-3">
        <label
          for="carousel-1"
          class="block text-4xl text-gray-400 cursor-pointer carousel-bullet hover:text-gray-900"
          >•</label
        >
      </li>
      <li class="inline-block mr-3">
        <label
          for="carousel-2"
          class="block text-4xl text-gray-400 cursor-pointer carousel-bullet hover:text-gray-900"
          >•</label
        >
      </li>
      <li class="inline-block mr-3">
        <label
          for="carousel-3"
          class="block text-4xl text-gray-400 cursor-pointer carousel-bullet hover:text-gray-900"
          >•</label
        >
      </li>
    </ol>
  </div>
</div>
<!-- ++++++++===================++++ -->
<section class="py-8 bg-white">
  <!-- <div class="container flex flex-wrap items-center pt-4 pb-12 mx-auto"> -->
  <nav id="store" class="top-0 z-30 w-full px-6 py-1">
    <div
      class="container flex flex-wrap items-center justify-between w-full px-2 py-3 mx-auto mt-0"
    >
      <a
        class="text-xl font-bold tracking-wide text-gray-800 no-underline uppercase hover:no-underline"
        href="#"
      >
        Catálogo da loja
      </a>
    </div>
    <ng-container *ngIf="!(loading$ |async); else loading">
      <app-product-list
      [products$]="products$"
      (productAdded)="addProductToCart($event)"
    ></app-product-list>
    </ng-container>

  </nav>
</section>

<ng-template #loading>
<app-loading></app-loading>
</ng-template>
