<div class="w-full bg-blue-900">
  <div class="flex flex-wrap text-center text-white">
    <div class="w-full p-5 border-r border-blue-800 md:w-1/3 md:text-left">
      <div class="my-6 ml-3 text-xl font-semibold">Sobre Nós</div>
      <p class="p-3 text-gray-200">
        Somos <strong>Jeff Loja de Roupas e acessórios</strong> Uma loja que
        está crescendo no mercado Temos loja física no município de franco da
        rocha,estado são paulo.
      </p>
      <p class="p-3 text-gray-200">
        entregamos em todo o país, você pode nos contatar através do nossos
        redes sociais, para coordenar os embarques.
      </p>
    </div>

    <div class="w-full p-5 border-r border-blue-800 md:w-1/3">
      <div class="my-6 text-xl font-semibold">Contate-Nós</div>
      <p class="mt-8 text-gray-200">
        Rua Ana Serra Diniz parque Monte Verde ,Franco da Rocha #42 <br />
        São Paulo, SP 14030-470 <br />
        Brasil <br />
        <strong>Telefone:</strong> +55 (11) 952023872<br />
        <strong>Email:</strong> jeffloja@gmail.com
      </p>
      <div class="relative w-20 h-20 mx-auto my-12 rotate-45 bg-yellow-600">
        <a
          href="https://bit.ly/2KM3uHo"
          target="_blank"
          class="absolute top-0 left-0 flex items-center justify-center w-10 h-10 bg-blue-800 cursor-pointer hover:-ml-1 hover:-mt-1"
        >
          <i class="-rotate-45 fab fa-facebook-f fa-lg"></i>
        </a>
        <div
          class="absolute top-0 right-0 flex items-center justify-center w-10 h-10 bg-blue-800 cursor-pointer hover:-mt-1 hover:-mr-1"
        >
          <i class="-rotate-45 fab fa-twitter fa-lg"></i>
        </div>
        <a
          href="https://wa.link/k9lyso"
          target="_blank"
          class="absolute bottom-0 right-0 flex items-center justify-center w-10 h-10 bg-blue-800 cursor-pointer hover:-mr-1 hover:-mb-1"
        >
          <i class="-rotate-45 fab fa-whatsapp fa-lg"></i>
        </a>
        <div
          class="absolute bottom-0 left-0 flex items-center justify-center w-10 h-10 bg-blue-800 cursor-pointer hover:-mb-1 hover:-ml-1"
        >
          <i class="-rotate-45 fab fa-instagram fa-lg"></i>
        </div>
      </div>
    </div>

    <div class="w-full p-5 md:w-1/3">
      <div class="mt-6 text-xl font-semibold">Contato, DIGA OLÁ!</div>
      <form class="w-4/5 px-6 pt-6 pb-4 mx-auto mt-2 rounded">
        <div class="flex items-center mb-4">
          <input
            class="w-full h-10 p-2 text-white bg-blue-900 border-b border-blue-800"
            type="text"
            placeholder="Nome"
          />
        </div>
        <div class="flex items-center mb-4">
          <input
            class="w-full h-10 p-2 text-white bg-blue-900 border-b border-blue-800"
            type="text"
            placeholder="Email"
          />
        </div>
        <div class="mb-6">
          <textarea
            class="w-full h-24 px-2 pt-2 text-white bg-blue-900 border-b-2 border-blue-800"
            placeholder="Mensagem"
          ></textarea>
        </div>
        <div class="flex items-center justify-between">
          <button
            class="w-full px-4 py-2 font-bold text-white bg-yellow-600 rounded hover:bg-indigo-300"
            type="button"
          >
            Enviar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
