<div class="p-10 bg-white rounded-lg shadow-2xl card">
  <div class="prod-title">
    <p class="text-2xl font-bold text-gray-900 uppercase">
      {{ product?.title }}
    </p>
    <p class="text-sm text-gray-400 uppercase">
      {{ product?.description }}
    </p>
  </div>
  <div class="prod-img">
    <!-- <img
      src="https://unsplash.com/photos/IJjfPInzmdk/download?force=true&w=1920"
      class="object-cover object-center w-full"
    /> -->
    <img
    [src]="toSafePathImage(product?.image)"
    class="object-cover object-center w-full"
  />
  </div>
  <div class="grid gap-10 prod-info">
    <!-- <div>
      <ul class="flex flex-row items-center justify-center">
        <li class="mr-4 last:mr-0">
          <span
            class="block p-1 transition duration-300 ease-in border-2 border-white rounded-full hover:border-gray-500"
          >
            <a
              class="block text-center text-white bg-red-900 rounded-full w-7 h-7"
              >S</a
            >
          </span>
        </li>
        <li class="mr-4 last:mr-0">
          <span
            class="block p-1 transition duration-300 ease-in border-2 border-white rounded-full hover:border-gray-500"
          >
            <a
              class="block text-center text-white bg-red-700 rounded-full w-7 h-7"
              >M</a
            >
          </span>
        </li>
        <li class="mr-4 last:mr-0">
          <span
            class="block p-1 transition duration-300 ease-in border-2 border-white rounded-full hover:border-gray-500"
          >
            <a
              class="block text-center text-white bg-red-600 rounded-full w-7 h-7"
              >L</a
            >
          </span>
        </li>
        <li class="mr-4 last:mr-0">
          <span
            class="block p-1 transition duration-300 ease-in border-2 border-white rounded-full hover:border-gray-500"
          >
            <a
              class="block text-center text-white bg-red-500 rounded-full w-7 h-7"
              >XL</a
            >
          </span>
        </li>
      </ul>
    </div> -->
    <div
      class="flex flex-col items-center justify-between mt-3 text-gray-900 md:flex-row"
    >
      <p class="font-bold text-purple-600">
        {{
          product?.price.toLocaleString("pt-BR", {
            style: "currency",
            currency: "BRL"
          })
        }}
      </p>
      <button
        class="px-4 py-2 font-bold uppercase transition duration-200 ease-in border-2 border-gray-700 rounded-full hover:bg-purple-700 hover:text-white focus:outline-none"
        (click)="addProductToCart(product)"
      >
        Adicionar ao <i class="fa">&#xf07a;</i>
      </button>
    </div>
  </div>
</div>
